@{
    Exception ex = ViewBag.Exception;
    string error = ex?.ToString() ?? "No Error Available";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 style="color:white;">Error.</h1>
        <h2 style="color:white;">An error occurred while processing your request.</h2>
        The details are:
        <p style="color:white;">
            @error
        </p>
    </hgroup>
</body>
</html>
