@{
    ViewBag.Title = "Contact Us";
}
<h2 style="color:white;">@ViewBag.Title</h2>
<h3 style="color:white;">@ViewBag.Message</h3>

<address style="color:white;">
    Cerberus Creations<br />
    1369 Underworld Way<br />
    Glennville, GA 30427<br />    
</address>

<address style="color:white;">
    <strong>Support:</strong> <a>CerberusSupport@Hades.com</a><br />
    <strong>Marketing:</strong> <a>CerberusMarketing@Hades.com</a>
</address>