@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="background-color: black; color:white;">
    <h1 style="text-align:center">Welcome to Cerberus Creations!</h1>
    <p class="lead">Cerberus Creations is here to help make the ordinary you become extraordinary. You can create a character that enables you to be anybody you want to be!</p>    
</div>

<div class="row" style=" background-color:black; color:white;">
    <div class="col-md-4">
        <h2 style="text-align:center">About Us</h2>
        <p style="text-align:center">
            Cereberus Creations gives you a simple, streamlined way to build a dynamic character that
            anyone can use and gives you full control over your creation
            for an enjoyable, fun experience.
        </p>        
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Create Your Own Experience</h2>
        <p style="text-align:center">Have you ever been so angry at your coworkers that you wanted to rage? If that answer is yes, you are well on your way to making your own Barbarian. Choose from any of our 6 unique Races and our 12 interesting Classes to make the perfect you.</p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Getting Started</h2>
        <p style="text-align:center">You can easily create an account by clicking on Register in the bar above. Once you register (and Verify) you can begin your own journey!</p>
    </div>
</div>